html, body {
  margin: 0;
  padding: 0;
  background-color: #e1e1e1;
  overflow: hidden;
}

h1 {
  color:#a60505;
}

canvas {
  display: block;
}

.center {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, serif
}

.p, label {
  color: #e21c1c8e;
}

form {
  /* display: inline; */
}

